<footer class="bg-blue-800 text-blue-100 py-8 mt-16">
  <div class="container mx-auto px-4 flex flex-col items-center">
    <p class="text-sm text-center">
      © {{ now.Year }} Les Bourgeons. Tous droits réservés.<br />
      Développé avec <span class="text-orange-500">♥</span> par
      <a
        href="https://www.linkedin.com/in/benoit-paquier/"
        target="_blank"
        rel="noopener"
        class="underline text-orange-400 hover:text-orange-500 transition-colors"
        >Ben</a
      >
    </p>
  </div>
</footer>
