{{ define "main" }}
  <!-- Hero Section -->
  {{ with .Params.hero }}
    <div class="yellow-box">
      <section class=" container flex flex-column align-center py-32v">
        <div class="w-850 max-w-full svg-container-full">
          {{ readFile "assets/illustrations/logo-full.svg" | safeHTML }}
        </div>
        <h1 class="text-center">{{ .title }}</h1>
      </section>
    </div>
  {{ end }}


  <!-- Sections -->
  {{ range .Params.sections }}
    <section id="{{ .id }}">
      <h2>{{ .title }}</h2>
      <div>{{ .content | markdownify }}</div>
      <!-- Rendre le contenu Markdown -->
    </section>
  {{ end }}
{{ end }}
